<!DOCTYPE html>
<html>
<head>
  <title>Account</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless user_signed_in? %>
<%= link_to "login", new_user_session_path %>
<% end %>

<%= link_to "Home", root_path %>
<%= link_to "My Accounts", accountings_path %>

<%= yield %>

</body>
</html>
